html, body {
  font-family: Monaco, Mono, microsoft yahei;
  background-color: #222;
  color: #60cf41;
}

a, a:hover, a:visited, a:focus {
  color: #60cf41;
}

.tab-pane {
  height: calc(100vh - 300px);
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #60cf41;
  border-top: 0;
}

.tab-pane div {
  word-break: break-all;
}

.nav-tabs {
  border-color: #60cf41;
}

.tab-pane p:last-child {
  border-bottom: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #60cf41;
  background-color: #222222;
  border-color: #60cf41;
}

.nav-tabs > li > a, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
  color: #60cf41;
  background-color: #222222;
  border: 0;
}
